th, td{
  text-align: center;
}

thead{
  background-color: #003865;
  color: white;
}

.contenedor{
  text-align: center;
}

#nw_1{
background-color: #ffffff;
}

#nw_2{
background-color: #003865;
}

#txtc{
  color: black;
  text-align: center;
}
